@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(60deg, #0b0c0c 0%, #083d3d 30%, #070707 100%);
  color: #FFFFFF;
  /* --- ドロワーメニュー表示時背景スクロール禁止 --- */
}
body.is-open {
  overflow: hidden;
}

/* --- デフォルト投稿(news), カスタム投稿タイプ(blog)ブログ詳細 のブロックエディタ用--- */
/* --- 見出し --- */
h1 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: height 1.75em;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.4375rem;
    line-height: 1.5217;
    letter-spacing: 0.017em;
    margin-top: 2rem;
  }
}

h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.448;
  letter-spacing: 0.1em;
  padding-left: 10.5px;
  padding-left: 0.65625rem;
  border-left: 3px solid #FFFFFF;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-top: 2rem;
  }
}

h3 {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.47777;
  letter-spacing: 0.1111em;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(33.6%, #FFEA2E), color-stop(33.6%, #FFFFFF)) no-repeat bottom/100% 3px;
  background: linear-gradient(90deg, #FFEA2E 33.6%, #FFFFFF 33.6%) no-repeat bottom/100% 3px;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  h3 {
    margin-top: 2rem;
  }
}

/* ---本文 --- */
p {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.1875;
  letter-spacing: 0.025em;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  p {
    margin-top: 2rem;
  }
}

/* ---画像 縦横比固定: テーマのテンプレートに反映させるスタイル --- */
/* --- figureのクラス --- */
.wp-block-image {
  position: relative;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .wp-block-image {
    width: 100%;
    margin-left: 0;
    margin-left: initial;
    margin-right: 0;
    margin-right: initial;
    margin-top: 2rem;
  }
}

.wp-block-image::before {
  content: "";
  display: block;
  padding-top: 53.44%;
}
@media screen and (min-width: 768px) {
  .wp-block-image::before {
    padding-top: 66.9%;
  }
}

.wp-block-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

/* --- 画像: ブロックエディタに縦横比固定を反映させるスタイル(ブロックエディタはHTMLの階層が1つ多いため、テーマのスタイルを打ち消す) --- */
/* --- figureのクラス --- */
.block-editor-block-list__block.wp-block-image {
  margin-left: 0;
  margin-left: initial;
  margin-right: 0;
  margin-right: initial;
}

.block-editor-block-list__block.wp-block-image::before {
  content: "";
  display: block;
  padding-top: 0;
}

/* --- imgの親要素 --- */
.components-resizable-box__container {
  position: relative;
  min-width: 50vw !important;
  height: auto !important;
  max-width: 100% !important;
}

.components-resizable-box__container::before {
  content: "";
  display: block;
  padding-top: 53.44%;
}
@media screen and (min-width: 768px) {
  .components-resizable-box__container::before {
    padding-top: 66.9%;
  }
}