@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(60deg, #0b0c0c 0%, #083d3d 30%, #070707 100%);
  color: #FFFFFF;
  /* --- ドロワーメニュー表示時背景スクロール禁止 --- */
}
body.is-open {
  overflow: hidden;
}

/* --- デフォルト投稿(news), カスタム投稿タイプ(blog)ブログ詳細 のブロックエディタ用--- */
h1 {
  font-size: 100px;
}