@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #111111;
  color: #FFFFFF;
  /* --- ドロワーメニュー表示時背景スクロール禁止 --- */
}
body.is-open {
  overflow: hidden;
}

.l-breadcrumbs {
  margin-top: 65px;
  margin-top: 4.0625rem;
}