/* --- ブログのタームタグ --- */
@use "global" as *;

.c-categoryTag {
  display: inline-block;
  min-width: rem(67);
  text-align: center;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.071em;
  color: $black;
  padding: rem(5) rem(4);
  background-color: $accent;
}