@use "global" as *;

.c-footerNav__items a {
  display: block;
  text-align: center;
  padding-top: rem(3);
  padding-bottom: rem(3);
  @include mq("md") {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: rem(16);
    padding-right: rem(16);
  }
}
.c-footerNav__items li:last-child a {
  padding-right: 0;
}

.c-footerNav__items span {
  display: inline-block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 2.1875;
  letter-spacing: 0.075em;
  color: $white;
}
