@use "global" as *;
/* --- ナビメニューホバー時テキストリンクに下線表示 の共通クラス--- */

.c-navItems span {
  transition: $transition-duration linear;
  border: 1px solid transparent;
}

@media (any-hover: hover) {
  .c-navItems a:hover span,
  .c-navItems a:focus span {
    border-bottom: 1px solid $accent;
    transition: $transition-duration linear;
  }
  .c-navItems a:hover, .c-navItems a:focus {
    opacity: 1;
  }
}

//スマホなどホバーが対応していないデバイスの時は、activeでタップ中のみスタイルが反映する！！
@media (any-hover: none) {
  .c-navItems a:active span {
    border-bottom: 1px solid $accent;
    transition: $transition-duration linear;
  }
}
