@use "global" as *;
.c-news {
  color: $white;
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}

.c-news__meta {
  flex: 0 0 auto;
}

.c-news__time {
  display: inline-block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  margin-right: rem(32);
}

.c-news__category {
  display: inline-block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.448;
  padding: rem(5.3) rem(21);
  border: 1px solid $white;
}

.c-news__linkTitle {
  display: block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  margin-top: rem(10);
  @include mq("md") {
    flex: 1 1 auto;
    margin-top: 0;
    margin-left: rem(61);
    margin-right: rem(48);
  }
}
