@use "global" as *;
.c-postNav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-postNav-link__item {
  width: rem(71);
}

.c-postNav-link__item a {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.125;
  padding: rem(3) 0;
  color: $white;
  border: 1px solid $white;
  transition: $transition-duration linear;
}

@media (any-hover: hover) {
  .c-postNav-link__item a:hover,
  .c-postNav-link__item a:focus {
    opacity: 1;
    color: $gray;
    background-color: $white;
    transition: $transition-duration linear;
  }
}
@media (any-hover: none) {
  .c-postNav-link__item a:active {
    color: $gray;
    background-color: $white;
    transition: $transition-duration linear;
  }
}

.c-postNav-link__item:not(:first-of-type) {
  margin-left: rem(48);
}
