@use "global" as *;

.c-single-meta {
  margin-top: rem(16);
}
.c-single-meta__date {
  display: inline-block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.025em;
}

.c-single-meta__termTag {
  margin-left: rem(30);
  color: $white;
  border: 1px solid $white;
}