@use "global" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(50);
  background-color: rgba(17, 17, 17, 0.5);
  z-index: $header_z-index;
}

.p-header__inner {
  height: inherit;
  padding-left: rem(22);
  padding-right: rem(22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq("md") {
    padding-left: rem(32);
    padding-right: 0;
  }
}

.p-header__logo {
  width: rem(70);
  z-index: $header-logo_z-index;
  @include mq("md") {
    width: rem(94);
  }
}

.p-header__nav {
  display: none;
  height: inherit;
  @include mq("md") {
    display: block;
  }
}
