@use "global" as *;

.p-single {
  color: $white;
}

.p-single__inner {
  max-width: rem(540); //状況によって変える必要があるかも
  margin: 0 auto;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include mq("md") {
    max-width: 801px + $padding-pc * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-single__heading {
  font-size: rem(20);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.02em;
  & span {
    display: inline-block;
    margin-left: rem(10);
  }
  @include mq("md") {
    font-size: rem(23);
  }
}

.p-single__content {
  @import "../block-style.scss";
}

.p-single__navigation {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(104);
  }
}