@use "global" as *;

.p-singleWorks-point {
  position: relative;
  padding: rem(56) rem(10) rem(33);
  border: 1px solid $white;
  @include mq("md") {
    padding: rem(44) rem(23) rem(33);
  }
}

.p-singleWorks-point__title {
  position: absolute;
  top: 0;
  left: rem(24);
  transform: translateY(-50%);
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.02em;
  padding: rem(10) rem(24);
  border: 1px solid $white;
  border-radius: rem(32);
  background-image: linear-gradient(60deg, #0b0c0c 0%, #083d3d 30%, #070707 100%);
  @include mq("md") {
    left: rem(39);
  }
}