@use "global" as *;

.p-singleWorks {
  color: $white;
}

.p-singleWorks__inner {
  max-width: rem(540); //状況によって変える必要があるかも
  margin: 0 auto;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include mq("md") {
    max-width: 801px + $padding-pc * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-singleWorks__heading {
  font-size: rem(20);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.02em;
  & span {
    display: inline-block;
    margin-left: rem(10);
  }
  @include mq("md") {
    font-size: rem(23);
  }
}

.p-singleWork__swiperContainer {
  /* --- はみ出た部分を隠さないと画像が並んでいるので幅がはみ出て見える --- */
  overflow: hidden;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-top: rem(16);
  .swiper-slide img {
    max-width: 100%;
  }
  @include mq("md") {
    margin-right: initial;
    margin-left: initial;
    margin-top: rem(32);
  }
}

/* --- メイン --- */
.p-singleWorks__swiper {
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-top: 66.9333%;
    @include mq("md") {
      padding-top: 53.44%;
    }
  }
  .swiper-wrapper {
    position: absolute; /* ← swiper.cssと優先順位が干渉するときは工夫してください */
    top: 0;
    left: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color: $bg-black;
    color: $yellow;
    border-radius: 50%;
    @include mq("md") {
      width: 50px;
      height: 50px;
      font-size: rem(32);
    }
  }

  /* --- firefoxで前後の矢印が表示されてしまった。 --- */
  .swiper-button-prev:after {
    content: "";
  }
  .swiper-button-next:after {
    content: "";
  }
}

/* --- サムネイル --- */
.p-singleWorks__thumbnail {
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.p-singleWorks__thumbnail .swiper-slide {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.p-singleWorks__points {
  margin-top: rem(42);
  @include mq("md") {
    margin-top: rem(103);
  }
}

.p-singleWorks__point:not(:first-of-type) {
  margin-top: rem(54);
  @include mq("md") {
    margin-top: rem(71);
  }
}

.p-singleWorks__navigation {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(105);
  }
}
