@use "global" as *;
.p-topMv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba($black, 0.8);
  z-index: 200;
}
/* --- 1回目のローディング時のみアニメーション --- */
.p-topMv.is-active::before {
  opacity: 0;
  //hiddenにしないと一番上の階層にマスクがある為、クリックやホバーが出来ない！！
  visibility: hidden;
  transition: opacity 0.5s linear 3.1s, visibility 0.5s linear 3.1s;
}

/* --- 2回目以降のローディングでは非表示 --- */
.p-topMv.is-hidden::before {
  visibility: hidden;
}


.p-topMv__title {
  position: absolute;
  max-width: 600px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: $white;
  text-shadow: 1px 2px 7px $gray;
  clip-path: inset(
    0 100% 0 0
  ); //値：左から 上、右、下、左  右が100%＝　右方向から100%切り抜く(見えなくしている)
  @include mq("md") {
    max-width: none;
  }
}

/* --- 1回目のローディング時のみアニメーション --- */
.p-topMv.is-active .p-topMv__title {
  animation: clip-to-right 1s linear 3s both;
}
/* --- 2回目以降のローディングでは非表示 --- */
.p-topMv.is-hidden .p-topMv__title {
  clip-path: initial;
}

@keyframes clip-to-right {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
  }
}

.p-topMv__mainTitle {
  font-family: 'Overlock', cursive;
  font-size: rem(40);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(100);
    letter-spacing: 0.07em;
  }
}
.p-topMv__subTitle {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.3em;
  margin-top: rem(30);
  @include mq("md") {
    font-size: rem(55);
  }
}

.p-topMv__swiper .swiper-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.p-topMv__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- 画像の上の薄黒いマスク --- */
.p-topMv__swiper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.2);
  z-index: 2;
}

// 現在表示中のスライド
.p-topMv__swiper .swiper-slide-active img,
// ループで最初と最後のスライドに切り替わる時に付くクラス
.p-topMv__swiper .swiper-slide-duplicate-active img,
// 次のスライド
.p-topMv__swiper .swiper-slide-prev img {
  animation: zoomUp 10s ease-in;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

/* --- 最新の製作実績投稿1件 下からフェードインする --- */
.p-topMV__newPost {
  opacity: 0;
  position: absolute;
  top: 82%;
  left: 50%;
  display: inline-block;
  width: 100%;
  transform: translate(-50%, 20px);
  z-index: 2;
  @include mq("md") {
    top: initial;
    left: initial;
    bottom: rem(20);
    right: rem(20);
    transform: translate(0, 20px);
  }
}
/* --- 最初非表示で、*1回目のローディングアニメーションが終わったら* 下からフェイドイン開始(delay) --- */
.p-topMv.is-active .p-topMV__newPost {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: opacity 1s ease-in 4s, transform 1s ease 4s;
  @include mq("md") {
    transform: translate(0);
  }
}

/* ---  *2回目のローディング以降は delay無しで下からフェイドイン開始 --- */
.p-topMv.is-hidden .p-topMV__newPost {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: opacity 1s ease-in, transform 1s ease;
  @include mq("md") {
    transform: translate(0);
  }
}