@use "global" as *;

.p-topBlog__cards {
  margin-top: rem(64);
  @include mq("md") {
    margin-top: rem(49);
  }
}

.p-topBlog__btn {
  margin-top: rem(24);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
  }
}