@use "global" as *;

.p-worksItems {
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}
.p-worksItems__item {
  @include mq("md") {
    width: 47.7272%;
  }
}

.p-worksItems__item + .p-worksItems__item {
  margin-top: rem(48);
  @include mq("md") {
    margin-top: initial;
  }
}

.p-worksItems__item:nth-of-type(even) {
  margin-left: 4.3636%;
}

.p-worksItems__item:nth-of-type(-n + 2) {
  @include mq("md") {
    margin-top: 0;
  }
}

.p-worksItems__item:not(:nth-of-type(-n + 2)) {
  @include mq("md") {
    margin-top: rem(113);
  }
}